<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HVScrollView(仿爱奇艺).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0944F70C1F0F26FA003856A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0944F7251F0F26FA003856A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0944F7301F0F26FA003856A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
